# Electron app built artifacts
dist/
*.exe
*.dmg
*.deb
*.png
*.diskimg

# Electron specifics
node_modules/
electron-builder bin/

# Environment
.env
*.env.local

# Logs
logs/
*.log

# Runtime stuff
coverage/
*.lcov

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Recording files
*.webm